



@media (min-width: 1281px) {
   .feature-title {
    margin-top: 55px;
}

.feature-title ul {
    margin-top: 30px;
   
}
.feature-title li {
    padding: 8px 0;
}
.feature-title li i {
    font-size: 18px;
    
}
 
  
}



@media (min-width: 1025px) and (max-width: 1280px) {
.banner-section {
    padding: 50px 0;
}
.banner-content {
    height: 350px;
    max-width: 50%;
    left: 27%;
    padding: 0px;
}
.design-section .card .card-title {
    font-size: 20px;   
}
.design-section .card-text:last-child {
    margin-bottom: 0;
    margin-top: 0;
    padding: 30px;
}
.feature-section {
    padding: 50px 0;
}
.feature-title {
    margin-top: 0px;
    padding: 25px 80px;
}
.feature-title ul {
    margin-top: 25px;
    padding: 0;
}
.feature-title li {
    padding: 7px 0;
}
.feature-title li i {
    margin-right: 16px;
    
}
.safe-section {
    padding: 50px 0;
    
}
.inner-safe {
    padding: 20px;
}
 
  
}



@media (min-width: 768px) and (max-width: 1024px) {
  
 .banner-content {
    height: 330px;
    max-width: 100%;
    left: 0%;
    padding: 24px;
}
.banner-content h2 {
    font-size: 27px;
    line-height: 37px;
}
.banner-content p {
    font-size: 20px;
    line-height: 30px;
    margin: 10px;
}
.banner-content h3 {
    font-size: 20px;
    margin: 10px 0 25px;
}
.banner-content .btn {
    font-size: 16px;
    padding: 8px 15px;
   
}
.service-section {
    padding: 30px 0;
  
}
.inner-service {
    max-width: 100%;

}
.inner-service p {
    font-size: 20px;
    line-height: 30px;
    padding: 30px;
}
.design-section {
    padding: 30px 0;
}
.design-section .card {
    padding: 5px;
   
}
.design-section .card-body {
    padding: 5px;
}
.design-section .card .card-title {
    font-size: 20px;
    margin: 10px 0 20px;
}
.design-section .card-text:last-child {
    font-size: 20px;
    line-height: 30px;
    margin-top: 10px;
    padding: 14px;
}
.feature-section {
    padding: 30px 0;
}
.feature-title {
    margin-top: 0;
   
}
.feature-title h1 {
    font-size: 30px;
   
}
.feature-title ul {
    margin-top: 0px;
    
}
.feature-title li {
    font-size: 15px;
    padding: 5px 0;
}
.feature-title li i {
    margin-right: 10px;
    font-size: 15px;
   
}
.safe-section {
    padding: 30px 0;
    
}
.inner-safe {
    max-width: 100%;
    padding: 25px;
}
.pocket-section {
    padding: 30px 0;
}
.pocket-section .card {
    padding: 5px;
   
}
.pocket-section .card-body {
    padding: 0;
}
footer {
    padding: 30px 0;
}
.inner-footer h1 {
    font-size: 25px;
    line-height: 35px;
    margin: 30px 0 20px;
}
.inner-footer h6 {
    margin-bottom: 20px;
}
.inner-footer .btn {
    font-size: 16px;
    padding: 8px 15px;
   
}
.inner-footer aside {
    margin-top: 30px;
}
  
}


@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  
  
}


@media (min-width: 481px) and (max-width: 767px) {
.banner-section {
    padding: 100px 0;
}
.banner-content {
    height: 0px;
    max-width: 100%;
    background: none;
    left: 0;
    padding: 0;
    bottom: 85px;
}
.banner-content h2 {
    font-size: 19px;
    color: #fff;
    line-height: 35px;
}
.banner-content p {
    font-size: 11px;
    margin: 0;
    color: #fff;
}
.banner-content h3 {
    font-size: 14px;
    margin: 5px 0 15px;
    color: #fff;
}
.banner-content .btn {
    font-size: 14px;
    padding: 5px 10px;
}
.service-section {
    padding: 20px 0;
}
.inner-service {
    max-width: 100%;
}
.inner-service p {
    font-size: 14px;
    padding: 10px;
}
.design-section {
    padding: 20px 0;
}
.design-section .card {
    padding: 0px;
}
.design-section .card-body {
    padding: 0;
}
.design-section .card .card-title {
    font-size: 18px;
    margin: 15px 0 10px;
}
.design-section .card-text:last-child {
    font-size: 13px;
    margin-top: 5px;
}
.feature-section {
    padding: 20px 0;
}
.feature-section .col {
    flex: 0 0 100%;
}
.feature-title {
    margin-top: 30px;
    padding: 0 85px;
}
.feature-title h1 {
    font-size: 25px;
}
.feature-title ul {
    margin-top: 10px;
}
.feature-title li {
    font-size: 12px;
    padding: 5px 0;
}
.feature-title li i {
    margin-right: 10px;
    font-size: 12px;
    
}
.safe-section {
    padding: 20px 0;
}
.inner-safe {
    max-width: 100%;
    padding: 15px;
}
.inner-safe p {
    font-size: 13px;
    padding: 10px;
}
.pocket-section {
    padding: 20px 0;
}
.pocket-section .card {
    padding: 0px;
}
.pocket-section .card-body {
    padding: 0;
}
.pocket-section .card .card-title {
    font-size: 18px;
    margin: 15px 0 10px;
}
.pocket-section .card-text:last-child {
    font-size: 13px;
    margin-top: 5px;
}
footer {
    padding: 5px 0;
}
.inner-footer h1 {
    font-size: 18px;
    line-height: 28px;
    margin: 10px 0 10px;
}
.inner-footer h6 {
	font-size: 14px;
    margin-bottom: 10px;
}
.inner-footer .btn {
    font-size: 14px;
    padding: 5px 10px;
   
}
.inner-footer aside {
    margin-top: 10px;
}
  
}


@media (min-width: 320px) and (max-width: 480px) {
header {
    padding: 10px 0;
}	
.banner-section {
    padding: 100px 0;
}
.banner-content {
    height: 0px;
    max-width: 100%;
    background: none;
    left: 0;
    padding: 0;
    bottom: 55px;
}
.banner-content h2 {
    font-size: 19px;
    color: #fff;
    line-height: 35px;
}
.banner-content p {
    display: none;
}
.banner-content h3 {
    font-size: 14px;
    margin: 5px 0 15px;
    color: #fff;
}
.banner-content .btn {
    font-size: 14px;
    padding: 5px 10px;
}
.service-section {
    padding: 10px 0 0;
}
.inner-service {
    max-width: 100%;
}
.inner-service p {
    font-size: 14px;
    padding: 5px;
}
.design-section {
    padding: 10px 0 0;
}
.design-section .card {
    padding: 0px;
}
.design-section .card-body {
    padding: 0;
}
.design-section .card .card-title {
    font-size: 18px;
    margin: 15px 0 10px;
}
.design-section .card-text:last-child {
    font-size: 12px;
    margin-top: 5px;
}
.feature-section {
    padding: 10px 0 0;
}
.feature-section .col {
    flex: 0 0 100%;
}
.feature-title {
    margin-top: 15px;
    padding: 0;
}
.feature-title h1 {
    font-size: 25px;
}
.feature-title ul {
    margin-top: 10px;
}
.feature-title li {
    font-size: 12px;
    padding: 5px 0;
}
.feature-title li i {
    margin-right: 10px;
    font-size: 12px;
    
}
.safe-section {
    padding: 10px 0 0;
}
.inner-safe {
    max-width: 100%;
    padding: 10px;
}
.inner-safe p {
    font-size: 13px;
    padding: 5px;
}
.pocket-section {
    padding: 10px 0 0;
}
.pocket-section .card {
    padding: 0px;
}
.pocket-section .card-body {
    padding: 0;
}
.pocket-section .card .card-title {
    font-size: 18px;
    margin: 15px 0 10px;
}
.pocket-section .card-text:last-child {
    font-size: 12px;
    margin-top: 5px;
}
footer {
    padding: 5px 0;
}
.inner-footer h1 {
    font-size: 18px;
    line-height: 28px;
    margin: 5px 0;
}
.inner-footer h6 {
    font-size: 13px;
    margin-bottom: 5px;
}
.inner-footer .btn {
    font-size: 14px;
    padding: 5px 10px;
   
}
.inner-footer aside {
    margin-top: 5px;
    font-size: 10px
}
  
}




  
  